.logo
  display block
  text-align center
  margin-bottom 20px

.hero-main
  margin-bottom 60px

.box-info
  min-height 320px

.btn-theme
  color blue
  display block
  border 2px solid blue
  border-radius 4px
  text-align center
  text-decoration none
  text-transform uppercase
  font-size 14px
  font-weight 700
  padding 14px
  transition all 0.3s

  &:hover
    background-color blue
    color white
