.menu-header
  float right
  list-style none
  padding 0
  text-align right

  @media screen and (max-width 510px)
    text-align center
    float none

  &__item
    display inline

  a
    color dark
    text-decoration none
    font-size 14px
    margin-left 10px

    &:hover
      color blue

  &__icon
    fill dark
    width 20px
    height 20px
